/* Hide default checkbox and show custom */
.my-table input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  margin: 0;
  font: inherit;
  color: var(--bg-color);
  width: var(--element-size);
  height: var(--element-size);
  border: 1px solid var(--border-color);
  border-radius: var(--element-border-radius);
  transform: translateY(-0.075em);
  display: flex;
  place-content: center;
  align-items: center;
}
/* Show custom check-mark for the checkbox */
.my-table input[type="checkbox"]::before {
  content: "";
  width: calc(var(--element-content-size) + 2px);
  height: var(--element-content-size);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--bg-color);
  transform-origin: bottom left;
  clip-path: path(var(--tick-path));
}
/* When checked scale the check-mark to 1 */
.my-table input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* When checked change background color and remove border */
.my-table input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border: 0px;
}