// Partial mixin for holding label styles
@mixin label-style {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    letter-spacing: 0px;
    font-size: var(--h-font-size);
    font-weight: var(--font-weight-heavy);
    text-transform: capitalize;
    word-break: break-word;
}
// Partial mixin for holding value styles
@mixin value-style {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    letter-spacing: 0.1px;
    font-size: var(--c-font-size);
    font-weight: var(--font-weight-normal);
    word-break: break-word;
}